/*******************************
********* Home-Receipts *************
*******************************/

.home-receipts {
	background: url('../images/home_bg1.jpg') no-repeat fixed top; /*background photo*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 2em;	
	text-align: center;
	height: 93.5vh; 	
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	}

.home-receipts h1 {
	margin-top: 30%; 
	color: white; 
	width: 100%; 
	text-align: center; 
	font-weight: bold; 
}

.home-receipts p {
	margin-left: 20%; 
	margin-top: 10px; 
	text-align: center;     
	width: 70%; 
	color: white; 
}

/* --- iPhone --- */
@media screen and (max-width: 420px) {
	.home-receipts {
		background: url('../images/home_bg1.jpg') no-repeat 50% 100%; /*background photo*/
		-webkit-background-size: 1920px 1280px;
		-moz-background-size: 1920px 1280px;
		-o-background-size: 1920px 1280px;
		background-size: 1920px 1280px;
		line-height: 2em;	
		text-align: center;
		height: 44vh; 		
	}
} 

/*******************************
********* Home-Retailers *************
*******************************/
.home-retailers {
	background: url('../images/home_bg2.jpg') no-repeat fixed top; /*background photo*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 2em;	
	text-align: center;
	height: 93.5vh; 
	margin: 0;
}

.home-retailers h1 {
	margin-top: 30%; 
	color: white; 
	width: 100%; 
	text-align: center; 
	font-weight: bold; 
}

.home-retailers p {
	margin-left: 20%; 
	margin-top: 10px; 
	text-align: center;     
	width: 70%; 
	color: white; 
}

/* --- iPhone --- */
@media screen and (max-width: 420px) {
	.home-retailers {
		background: url('../images/home_bg2.jpg') no-repeat 50% 100%; /*background photo*/
		-webkit-background-size: 2560px 1600px;
		-moz-background-size: 2560px 1600px;
		-o-background-size: 2560px 1600px;
		background-size: 2560px 1600px;
		line-height: 2em;	
		text-align: center;
		height: 50vh; 
	}
} 

