/*
To replace backgrounds, replace the jpg in the folder, not in this css file.

To do's:
- create mobile version of bg's so it loads faster
- create iphone 320 width backgrounds so it loads faster

*/


* {
	padding:0;
	margin:0;
}

html, body, table, th, tr, td, p, img, 
hr, ul, li, h1, h2, h3, h4, h5, h6, div, form, 
fieldset, textarea, section, span {
	padding: 0; 
	margin: 0; 
	border: none;
}

html, body {
	width: 100%;
	height: 100%;	
}

.clear {
	clear: both;
}

/*******************************
*********** Section ************
*******************************/

.section {
	min-width: 100%;
	overflow: hidden;
	padding: 0; 
	margin: 0; 
	position: relative;
}

.content {
	width: 960px;
	margin: 0px auto;
	max-width: 1400px;
}

/*******************************
******* Navigation *************
*******************************/
.top-bar {
	font-size: 1;
}

.top-bar .right {
	text-align: center; 
}

.logo {
	float: left;
	width: 40%
}

.logo img {
	width: 191px;
	height: 63px;
	margin-top: 2px;
}

.logo img.logo-mobile {
	display: none;
}

a.contactlink-mobile  {
	display: none;
	font-family: 'avenir_nextregular';
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0.25em 1.75em;
	letter-spacing: 1px;
	width: 80px;
	margin: 2em auto;
}

/*******************************
************ Top ***************
*******************************/

.top {
	background: url('../images/background1.jpg') no-repeat fixed top; /*background photo*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 2em;	
	text-align: center;
}

/* --- iPhone --- */
@media screen and (max-width: 420px) {
	.top {
		background: url('../images/background1.jpg') no-repeat fixed top; /*background photo*/
		-webkit-background-size: 1556px 700px;
		-moz-background-size: 1556px 700px;
		-o-background-size: 1556px 700px;
		background-size: 1556px 700px;
		line-height: 2em;	
		text-align: center;
	}
} 

.top .content {
	z-index: 10000;
}

.top h1 {
	font-size: 34px;
	color: #fff;
	line-height: 1.5em;
	margin: 6em 0;
}

/*******************************
********** What We Do **********
*******************************/

/* Appropriate for 960 - 1600px */
.whatwedo {
	/*background: #E0FFD1;*/
	background: url(../images/background3.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #333;
	line-height: 1.75em;
	padding: 2em 0; 
}

/* --- iPhone --- */
@media screen and (max-width: 420px) {
	.whatwedo {
		background: url(../images/background3.jpg) no-repeat fixed top;
		-webkit-background-size: 1556px 700px;
		-moz-background-size: 1556px 700px;
		-o-background-size: 1556px 700px;
		background-size: 1556px 700px;	
		color: #333;
		line-height: 1.75em;
		padding: 2em 0; 
	}
} 

.whatwedo h1 {
	font-size: 2em;  
	margin-bottom: 1em; 
}

.whatwedo p {
	margin: 1.5em auto;
}

.whatwedo img {
	position: relative;
	left: 20%; 
}

/***************************
******** Retailers *********
**************************/
.retailer {
	background: #006699; /*#f2f1ec;*/
	font-size: 1em;		
	color: #fff;
	line-height: 1.75em;	
	padding: 2em 0; 
}

.retailer h1{
	font-size: 2em; 
	text-align: left; 
	margin-bottom: 1em; 
	color: #fff;
}

.retailer p {
	margin: 0 auto;
	text-align: left; 
}

.retailer .graphics{
	text-align: center; 
}

.retailer .description {
	padding-bottom: 2em; 
}

.do {
	width: 40%;
	display: inline-block;
	margin: 3% 3%;
}

.do img {
	width: 95%;
}

/***************************
******** CONSUMERS *********
**************************/
.consumer {
	background: #BCCACA; /*#f2f1ec;*/
	color: #22222F;
	font-size: 1em;	
	line-height: 1.75em;
	text-align: left;	
	padding: 3em 0; 
}

.consumer h1{
	color: #525252;
	font-size: 2em; 
	margin-bottom: 1em; 
}

.consumer p {
	margin: 0 auto;
}

.consumer .graphics{
	text-align: center; 
}

.consumer .description {
	padding-bottom: 2em; 
}

#title-consumer {
	display: inline-block;
	width: 100%;
	position: relative;
	left: 0px;
	top: -12px;
	font-size: 1.6em;
	font-family: 'Arvo', serif;
	font-weight: 700;
	text-align: left; 
	color: #82827B;
	margin-bottom: 1epm;
	
}

#consumer-img {
	width: 55%;	
}

/*******************************
********* Download App *********
*******************************/

/* Appropriate for 960 - 1600px */
.download {	
	font-size: 1em;
	padding: 3em 0;
	color: #333;
}

.download h1 {
	font-size: 2em; 
	text-align: left;
	margin-bottom: 1em; 
}

#download-img {
	width: 100%;
	margin-right:0;
	margin-left: auto;
	display: block;
}

/*******************************
*********** About Us ***********
*******************************/

.about-us {
	background: url(../images/background2.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1em;
	top: 0;
	line-height: 2em;
	padding: 3em 0;
}

/* --- iPhone --- */
@media screen and (max-width: 420px) {
	.about-us {
		background: url(../images/background2.jpg) no-repeat fixed top;	
		-webkit-background-size: 1556px 700px;
		-moz-background-size: 1556px 700px;
		-o-background-size: 1556px 700px;
		background-size: 1556px 700px;
		font-size: 1em;
		top: 0;
		line-height: 2em;
		padding: 3em 0;
	}
} 


.about-us h1 {
	font-size: 2em;
	color: #007AA3;
	text-align: center;
	line-height: 45px;
}

.about-us h2 {
	font-size: 1.75em; 
}

/*******************************
*********** Contact ************
*******************************/

.contact {
	background: #000 url(../images/background4.png) no-repeat 50% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1em;
	line-height: 2em;
	color: #dcddde;
	padding: 3em 0;
	text-align: center;
	height: 32em; 
}

/* --- iPhone --- */
@media screen and (max-width: 480px) {
	.contact {
		background: #000 url(../images/background4.png) no-repeat 50% 100%;
		-webkit-background-size: 1556px 700px;
		-moz-background-size: 1556px 700px;
		-o-background-size: 1556px 700px;
		background-size: 1556px 700px;
		font-size: 1em;
		line-height: 2em;
		color: #dcddde;
		padding: 3em 0;
		text-align: center;
		height: 32em; 
	}
} 

.contact h1 {
	color: #dcddde;
	margin: 0.75em auto 0.4em;
	line-height: 1.625em;
	font-size: 1.5em; 
	width: 60%
}
.contact h2 {
	font-size: 1.25em; 
	color: #dcddde;
	margin-bottom: 2em; 
}

.contact a.emailaddress {
	color: #a7abab;
}

.contact img {
	margin-bottom: 2em; 
}

/*******************************
************ Footer ************
*******************************/

footer {
	width: 100%;
	background: #232323;
	padding: 2em 0;
	overflow: hidden;
	text-align: center;
}

footer img.logo {
	width: 42px;
	position: absolute;
	margin-left: -21px;
	left: 50%;
	bottom: -2.3125em
}


footer ul, footer ul li {
	list-style-type: none;
	display: inline;
}

footer a {
	font-family: 'avenir_nextdemi_bold';
	color: #B2B2B2;
	display: inline-block;
	font-size: 11px; 
	text-transform: uppercase;
	margin-right: 2.75em;
	margin-top: 0em;
	letter-spacing: 2px;
	font-weight: normal;
}

footer a:hover {
	color: #fff;
}

/*******************************
************* Fonts ************
*******************************/


@font-face {
    font-family: 'avenir_nextdemi_bold';
    src: url('fonts/avenirnext-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}
