/*
To replace backgrounds, replace the jpg in the folder, not in this css file.

To do's:
- create mobile version of bg's so it loads faster
- create iphone 320 width backgrounds so it loads faster

*/


* {
	padding:0;
	margin:0;
}

html, body, table, th, tr, td, p, img, 
hr, ul, li, h1, h2, h3, h4, h5, h6, div, form, 
fieldset, textarea, section, span {
	padding: 0; 
	margin: 0; 
	border: none;
}

html, body {
	width: 100%;
	height: 100%;	
}

body {
	background: #232323;
	font-family: 'avenir_nextregular', Arial, sans-serif;
	text-align: left;
	padding : 0;
	font-size: 1em;
	letter-spacing: 0;
	line-height: 1.5625em;
	color: #fff;
	font-weight: normal;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*******************************
*********** Etcetera ***********
*******************************/


a {
	color: #333333;
	font-family: 'avenir_nextregular', Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;  
	-webkit-transition: color .3s linear;  
	-moz-transition: color .3s linear;  
	-o-transition: color .3s linear;  
	-ms-transition: color .3s linear;  
	transition: color .3s linear; 
	
}

a:hover {
	color: #999999;
}

.clear {
	clear: both;
}

.left {
	width: 50%;
	float: left
}

.right {
	width: 50%;
	float: right;
}

h2 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	letter-spacing: 0px;
	font-size: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	color: #82827B;
	top: -12px;
}

h1 {
	font-size: 30px;
	font-family: 'avenir_nextregular', Arial, sans-serif;
	color: #fff;
	margin-top: 2em;
	line-height: 1.25em;
}

@media all and (max-width: 400px) {
	h2 {
		font-size: 12px;
	}
}

strong {
	font-family: 'avenir_nextdemi_bold';
}


/*******************************
*********** Section ************
*******************************/

.section {
	min-width: 100%;
	overflow: hidden;
	padding: 0; 
	margin: 0; 
	position: relative;
}

.content {
	width: 960px;
	margin: 0px auto;
	max-width: 1400px;
}

@media all and (min-width: 1600px) {
	.content {
		width: 1200px;
	}
}

@media all and (max-width: 990px) {
	.content {
		width: 94%;
	}
}

@media all and (max-width: 600px) {
	.content {
		width: 85%;
	}
}


/*******************************
************** Top *************
*******************************/

.logo {
	float: left;
	width: 40%
}

.logo img {
	width: 191px;
	height: 63px;
	margin-top: 2px;
}

.logo img.logo-mobile {
	display: none;
}

.navigation {
	float: right;
	width: 60%;
	text-align: right;
	margin-top: 0.75em;
}

.navigation ul, .navigation ul li {
	list-style-type: none;
	display: inline;
}

.navigation a{
	font-family: 'avenir_nextregular', Arial, sans-serif;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0.5em 1.75em;
	letter-spacing: 2px
}


.navigation a:hover {
	color: #313131;
	font-family: 'avenir_nextregular', Arial, sans-serif;
}

.navigation a.about {
	padding-right: 2.75em;
}

.navigation a.download {
	background: transparent; 
}

.navigation a.contactlink, a.contactlink-mobile  {
	padding: 0.125em 1.75em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: rgba(255,255,255,0.25) 2px solid;
}

a.contactlink-mobile  {
	display: none;
	font-family: 'avenir_nextregular';
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0.25em 1.75em;
	letter-spacing: 1px;
	width: 80px;
	margin: 2em auto;
}

.navigation a.contactlink:hover, a.contactlink1:hover {
	background: rgba(255,255,255,0.25);
	color: #fff;
	padding: 0.375em 1.75em;
	border: rgba(255,255,255,0) 2px solid;
}


.top {
	top: 0;
	padding: 1.6875em 0;
	background: url('../images/background1.jpg') no-repeat fixed top; /*background photo*/
	/*background: url('http://melewi.net/background1.jpg') no-repeat fixed top;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 2em;
}

.top .content {
	z-index: 10000;
}

.top h1 {
	font-size: 34px;
	color: #fff;
	line-height: 1.5em;
	margin-bottom: 1.125em
}

.top .content2 {
	width: 55%;
	text-align: center;
	margin: 141px auto 136px;
}

.top p {
	margin-top: 0px;
	font-size: 16px;
	font-family: 'AvenirNextUltraLight', Arial, sans-serif;
}

.hidden {
    display:none;
}

.top p.quotes {
	display: none;
}

/*******************************
********** What We Do **********
*******************************/

/* Appropriate for 960 - 1600px */
.whatwedo {
	background: #fff;
	font-family: 'avenir_nextregular';
	font-size: 1em;
	padding: 3em 0;
	color: #333;
	line-height: 1.75em;
}

.whatwedo h1 {
	font-size: 1.75em;
	color: #333333;
	line-height: 1.625em;
	margin: 1em 0 1em;
	text-align: left;
}

.whatwedo h2 {
	color: #ccc;
	margin: 0;
	width: 100%;
}

.whatwedo p {
	margin: 1.5em auto;
}

.whatwedo .left {
	width: 45%;
	float: left;
	display: inline-block;
	margin-right: 9%;
}

.whatwedo .right {
	width: 45%;
	float: none;
	display: inline-block;
	text-align: center;
	position: relative;
	top: -40px;
	left: 3.5%;
}

.do {
	width: 40%;
	display: inline-block;
	margin: 3% 3%;
}

.do img {
	width: 95%;
}

.break {
	display: block;
}

/*******************************
******** Customers *************
*******************************/
.customers {
	background: #f2f1ec;
	font-family: 'avenir_nextregular';
	font-size: 1em;
	padding: 4.25em 0 0;
	color: #333;
	width: 100%;
	line-height: 1.75em;
	text-align: center;
}

.customers h2 {
	color: #ccc;
	width: 100%;
	margin-top: 1em;
}

.customers h1 {
	font-size: 1.8em;
	color: #333;
	line-height: 45px;
	margin: 0em auto 1.25em;
}

.origin {
	color: #999;
	font-style: italic;
	font-size: 1em;
}

.kind {
	color: #333;
	font-weight: bold;
	font-size: 1.125em;
}

.product-info {
	display: none;
	width: 100%;
	margin: 0 auto 2em;
}

/***************************
******** Retailers *********
**************************/
.retailer {
	background: #f2f1ec;
	font-family: 'avenir_nextregular', Arial, sans-serif;
	font-size: 1em;
	padding: 1em 0;
	color: #333;
	line-height: 1.75em;		
}

.retailer .right{
	text-align: center;
	float: right; 
}
.retailer h1{
	text-align: left; 
}

.retailer p {
	margin: 0 auto;
	text-align: left; 
}

/***************************
******** CONSUMERS *********
**************************/
.consumer {
	background: #f2f1ec;
	font-family: 'avenir_nextregular', Arial, sans-serif;
	font-size: 1em;
	/*padding: 1em 0;*/
	color: #333;
	line-height: 1.75em;
	text-align: left;	
	position: relative; 	
}

.consumer h2 {
	color: #82827B;
}

.consumer p {
	margin: 0 auto;
}

#title-consumer {
	display: inline-block;
	width: 100%;
	position: relative;
	left: 0px;
	top: -12px;
	font-size: 1.6em;
	font-family: 'Arvo', serif;
	font-weight: 700;
	text-align: left; 
	color: #82827B;
	margin-bottom: 1epm;
	
}

.consumer .right {	
	float: right;
	display: inline-block;
	text-align: center;	
	position: relative;	
	margin: 2em auto; 	
}

#consumer-img {
	width: 55%;	
}

/*******************************
********* Download App *********
*******************************/

/* Appropriate for 960 - 1600px */
.download {
	background: #A1C6EB;
	/*font-family: 'avenir_nextregular';*/
	font-size: 1em;
	padding: 3em 0;
	color: #333;
	line-height: 1.75em;
}

.download h1 {
	font-size: 1.75em;
	color: #333333;
	line-height: 1.625em;
	margin: 1em 0 1em;
	text-align: left;
	/*font-family: 'avenir_nextregular';*/
}

.download h2 {
	color: #1A4C33;
	margin: 0;
	width: 100%;
}

.download p {
	margin: 1.5em auto;
}

.download .left {
	width: 45%;
	float: none;
	display: inline-block;
	margin-right: 9%;
}

.download .right {
	width: 45%;
	float: right;
	display: inline-block;
	text-align: center;	
	position: relative;
	top: 20px;
	/*right: 20%;*/	
}

#download-img {
	width: 100%;
	margin-right:0;
	margin-left: auto;
	display: block;
}

/*******************************
*********** About Us ***********
*******************************/

.about-us {
	background: url(../images/background2.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1em;
	top: 0;
	line-height: 2em;
	padding: 6.5em 0;
}

.about-us h1 {
	font-size: 29px;
	color: #007AA3;
	text-align: center;
	line-height: 45px;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.about-us .content2 {
	width: 75%;
	margin: 0em auto;
	overflow: hidden;
}

.about-us p {
	margin: 0 auto 1.5em;
	width: 63%;
	font-family: 'AvenirNextUltraLight', Arial, sans-serif;
	text-align: left;
}

.about-us p:last-of-type {
	margin: 0 auto 0em;
}

.about-us h2 {
	color: #8c8478;
	text-align: center;
	margin-bottom: 0em
}

/*******************************
*********** Contact ************
*******************************/

.contact {
	background: #000 url(../images/background4.png) no-repeat 50% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1em;
	line-height: 2em;
	color: #dcddde;
	padding: 7em 0 7em;
	text-align: center;
}

.contact h2 {
	color: #a7abab;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.contact h1 {
	color: #dcddde;
	margin: 0.75em auto 0.4em;
	line-height: 1.625em;
	font-size: 28px;
	width: 60%
}

.contact p {
	font-family: 'AvenirNextUltraLight', Arial, sans-serif;
	font-size: 1em;
}

.contact a.emailaddress {
	color: #a7abab;
	font-family: 'avenir_nextdemi_bold', Arial, sans-serif;
	
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
    min-height: 50px;
    overflow: hidden;
}

.lbr {
    line-height: 3px;
}

/*******************************
************ Footer ************
*******************************/

footer {
	width: 100%;
	background: #232323;
	padding: 2em 0;
	overflow: hidden;
	text-align: center;
}

footer .content {
	position: relative;
}

footer img.logo {
	width: 42px;
	position: absolute;
	margin-left: -21px;
	left: 50%;
	bottom: -2.3125em
}
/*
footer ul {
	margin-left: 0em;
	float: left;
}*/

footer .left {
	margin-left: 0em;
	float: left;
	text-align: left;
}

footer .right {
	margin-right: 0em;
	float: right;
}


footer ul, footer ul li {
	list-style-type: none;
	display: inline;
}

footer a.contact-link {
	color: #fff;
}

footer a {
	font-family: 'avenir_nextdemi_bold';
	color: #666;
	display: inline-block;
	font-size: 10px;
	text-transform: uppercase;
	margin-right: 2.75em;
	margin-top: 0em;
	letter-spacing: 2px;
	font-weight: normal;
}

footer a:hover {
	color: #fff;
}

footer .right {
	text-align: right;
	margin-top: 0px;
}

footer .right p {
	color: #666666;
	font-size: 0.875em;
	font-family: 'avenir_nextdemi_bold';
}

footer .right img {
	margin: 0 0.5em;
}

/*******************************
************* Fonts ************
*******************************/

@font-face {
    font-family: 'AvenirNextUltraLight';
    src: url('fonts/avenirnext-ultralight.woff') format('woff');
}

@font-face {
    font-family: 'avenir_nextdemi_bold';
    src: url('fonts/avenirnext-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenir_nextregular';
    src: url('fonts/avenirnext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lavanderia_regularregular';
    src: url('fonts/lavanderia_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
